# https://github.com/marketplace/actions/setup-java-jdk
name: "Maven Test"

on:
  push:
    branches: [main]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [main]

jobs:
  test:
    name: Maven Build & Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      # https://github.com/marketplace/actions/cache-apt-packages
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libncurses5 mariadb-server
          version: 1.0
      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version-file: ".java-version"
          cache: "maven"
      # Run verify, not just package, to catch any failures of mariaDB4j-maven-plugin's integration test
      - run: ./mvnw --show-version --batch-mode --strict-checksums verify
      # When contrib. new DB version, then ./mvnw -f DBs/pom.xml clean install
