name: Java Maven Test CI (Linux + Windows + macOS)

on:
  push:
    branches: [main]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [main]

permissions:
  contents: read

# Cancel any in-progress job or run if there is a newer commit
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  testOnLinux:
    name: Maven Verify (Build & Test) on Linux
    runs-on: ubuntu-24.04
    permissions:
      # maven-dependency-submission-action needs write
      contents: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      # https://github.com/marketplace/actions/cache-apt-packages
      - uses: awalsh128/cache-apt-pkgs-action@acb598e5ddbc6f68a970c5da0688d2f3a9f04d05 # latest
        with:
          packages: mariadb-server
          version: 1.0
      # https://github.com/marketplace/actions/setup-java-jdk
      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: temurin
          java-version-file: .java-version
          cache: maven
      # Run verify, not just package, to catch any failures of mariaDB4j-maven-plugin's integration test
      - run: ./mvnw --show-version --batch-mode --strict-checksums verify
      # When contrib. new DB version, then ./mvnw -f DBs/pom.xml clean install

      # https://github.com/marketplace/actions/maven-dependency-tree-dependency-submission
      - name: Maven Dependency Tree Dependency Submission
        if: ${{ github.event_name == 'push' }}
        uses: advanced-security/maven-dependency-submission-action@b275d12641ac2d2108b2cbb7598b154ad2f2cee8 # v5.0.0

  testOnWindows:
    runs-on: windows-2025
    name: Maven Verify (Build & Test) on Windows
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: adopt
          java-version-file: .java-version
          cache: maven
      - uses: ankane/setup-mariadb@ed858ebb43d738ad5a93c7cfe3c2d914e066c988 # v1 as of 2025-03-17
        with:
          mariadb-version: "11.4"
      - name: Build with Maven
        run: ./mvnw.cmd --show-version --batch-mode --strict-checksums verify

  testOnMac:
    runs-on: macos-15
    name: Maven Verify (Build & Test) on macOS
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: adopt
          java-version-file: .java-version
          cache: maven
      - name: Build with Maven
        run: ./mvnw --show-version --batch-mode --strict-checksums verify
